*.c~
*.cpp~
*.h~
*.o
*.a
*.oxy3d~
*.oxy2d~
*.obj~
*.mtl~
*.exe
*.vert~
*.frag~
*~
*.swp
*.orig
convert_obj
demo/cube/cube
demo/pong/pong
demo/gui/gui
demo/particle/particle
demo/physics/physics
.gitignore~
makefile~
makefile.linux~
makefile.win32~
README.md~

