*.c~
*.h~
*.o
*.a
*.oxy3d~
*.obj~
*.mtl~
*.exe
convert_obj
demo/cube/cube
demo/walk/walk
demo/easter_bunny/bunny
demo/human/human
demo/pong/pong
.gitignore~
makefile~
makefile.linux~
makefile.win32~
README.md~

