*.c~
*.h~
*.o
*.a
*.oxy3d~
*.oxy2d~
*.obj~
*.mtl~
*.exe
*.vert~
*.frag~
convert_obj
demo/cube/cube
demo/walk/walk
demo/easter_bunny/bunny
demo/human/human
demo/pong/pong
demo/gui/gui
.gitignore~
makefile~
makefile.linux~
makefile.win32~
README.md~

